html, body{
    height: 100%;
}
body{
    background-image: url(video/poster.png);
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: saturation;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    color: white;
    text-align: center;
}

video, audio{
    width: 70%;
}

h2{
    text-shadow: 5px 5px 4px #533D45;
}

audio{
    margin-bottom: 40px;
}