@font-face{ /* forma de importar images */
    font-family: 'Epilogue';
    src: url(/fonts/Epilogue.ttf) format(truetype)
}

@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto.ttf) format(truetype)
}

html, body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background-color: #F0F4FD;
    overflow-x: hiddenf;
}

h1,h2,h3{
    font-family: 'Epilogue';
}

p{
    font-family: 'Roboto';
}

button{
    color: white;
    font-family: 'Roboto';
    background-color: #EC3D08;
    border: solid black 1px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scanle(1.1);
    }
    &:active{
        background-color: #ff5927;
        transform: scale(0.9);
    }
}



/* estilos de header */
header{
    background-color: #EC3D08;
    height: 5rem;
    line-height: 5rem;
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 100;
}

header > nav{
    display: inline-block;
    position: absolute;
    right: 4rem;
}

header > nav > ul{
    display: inline;
    margin: 0px;
    list-style-type: none;
}

header > nav > ul > li{
    display: inline;
    padding-left: 1.5rem;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
}

#logo{
    width: 45px;
    vertical-align: middle;
    padding-left: 3rem; 
}

/* estilizado banner */
#banner{
    background-image: url(/img/fondo_banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 5rem);
}

#banner div:first-child h1, #banner div:first-child p{
    margin: 0px;
    color: white;
}

#banner > div{
    display: inline-block;
    width: 50%;
    height: 100%;
}

#banner > div:nth-of-type(2) > img{
    height: 70%;
    max-width: 90%;
}

#banner h1{
    font-size: 4rem;
    padding-bottom: 0.7rem;
}

#banner p{
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

#banner > div:first-child > div:nth-of-type(2){
    margin-bottom: 1rem;
}

#banner > div:nth-of-type(1){
    height: 100%;
    vertical-align: top;
    position: relative;
}

#banner > div:nth-of-type(1) > div:first-child{
    position: absolute;
    top: 20%;
    left: 15%;
}

#banner > div:nth-of-type(1) > div:nth-of-type(2){
    position: absolute;
    top: calc(20% + 11.4rem);
    left: 15%;
}

/* posicionar el boton... */
#banner button{
    position: absolute;
    left: 15%;
    top: calc(31% + 11.4rem );
}

#banner > div:nth-of-type(2){
    position: relative;
}

#banner > div:nth-of-type(2) > img{
    position: absolute;
    top: 10%;
}

/* SEGUNDA SESIÓN */
#destacados {
    position: relative;
}

/* papas, hamburguesa fondos */
.img-fondo{
    position: absolute;
}

.papas-fondo{
    top: 1rem;
    right: 3.5rem;
}

.hamburguesa-fondo{
    bottom: 1rem;
    left: 0rem;
}

/* estilos */
#destacados > h2{
    margin: 0px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: #000000;
    font-size: 1.6rem;
}

#destacados > div{
    width: 80vw;
    height: 40vh;
    background-image: url(img/fondo-card.png);
    background-size: cover;
    margin: 1rem auto;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

#destacados >div:nth-of-type(odd){
    background-color: #FFB936;
}

#destacados >div:nth-of-type(even){
    background-color: #EC3D08;
    color: white;
}

#destacados > div > img{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.2);
    }
    &:active{
        transform: scale(0.9);
    }
}

#destacados > div > div{
    width: 60%;
    position: absolute;
    top : 20%;
    left: 35%;
}

#destacados > div > span{
    color: white;
    background-color:black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 5%;
} 

#destacados > div h3{
    margin: 0px 0px 1rem 0px;
    font-size: 1.4rem;
}

/* etiquetas p */

#destacados > div p{
    margin: 0px;
    font-size: 1.2rem;
}


/* TERCERA SESIÓN */

#nosotros{
    height: 60%vh;
    position: relative;
}

#nosotros > div{
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
}

#nosotros > img{
    max-height: 100%;
    position:absolute;
}

#nosotros > div > h2{
    font-size: 1rem;
    color: #EC3D08;
}

#nosotros > div > h4{
    font-size: 1.3rem;
}

#nosotros > img:nth-of-type(1){
    left: 0px;
    top: 0px;
}

#nosotros > img:nth-of-type(2){
    right: 0px;
    top: 0px;
}

/* style footer */

footer{
    margin-top: 3rem;
    height: 5rem;
    font-family: 'Roboto';
    text-align: center;
    background-color: #EC3D08;
    color: white;
    line-height: 5rem;
}

/* div flotante wsp */

#div-flotante img{
    width: 3rem;
}

#div-flotante img{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.4);
    }
    &:active{
        transform: scale(0.9);
    }
}