/*body -color*/
body{
    margin: 0px;
    background-color: #fafad8; 
}

/*header*/
header{
    background-color: #DEB887;
    text-align: center;
}

header > h1{
    font-size:40px;
    margin: 0px;
    padding: 15px;
}

/*art1*/
#art1 p{
    margin: 40px;
    text-align:center;
    font-size: 28px;

}
#art1 p:hover{
    margin-left: 0px;
    font-size: 40px;
    color: red;
}

/*info1*/
#info1 {
    border: solid black;
    background-color: #FAF0E6;
    padding: 25px 30px;
    border-radius: 45px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    width: 750px;
    height: 350px;
    margin-bottom: 25px;
  }

#info1 > h2 {
    padding: 15px;
    text-align: center;
    margin: 0;              
}

#info1 > img {
    display: block;
    margin: 0 auto;
    width:500px;
}

#info1:hover{
    background-color: white;
}

/*info2*/
#info2{
    border: solid black;
    background-color: #FAF0E6;
    padding: 20px 20px;
    border-radius: 45px;
    display: block;
    width: 1100px;
    height: 425px;
    margin-left: 20px;
    margin-bottom: 25px;
}

#info2 > figure > img{
    display: block;
    margin: 0 auto;
    width:500px;
}

#info2 h4{
    font-size: 25px;
}

#info2 > figure > figcaption{
    text-align: right;
    font-size: 25px;
}


#info2:hover{
    background-color: white;
}

/*info3*/
#info3{
    border: solid black;
    background-color: #FAF0E6;
    padding: 25px 30px;
    border-radius: 45px;
    display: block;
    margin-left: auto;
    width: 1100px;
    height: 400px; 
    margin-right: 20px;
}

#info3 > figure > img{
    display: block;
    margin: 0 auto;
    width:170px;
}

#info3 h4{
    text-align: right;
    font-size: 25px;
}

#info3 > figure > figcaption{
    text-align: left;
    font-size: 25px;
}


#info3:hover{
    background-color: white;
}


footer{
    text-align: center;
    background-color: #DEB887;
}

footer > p{
    font-size: small;
}

/*datos*/
#datos, ul{
    font-weight: bold;
    list-style-type: none;
    padding-top: 25px;
    
}

footer > img{
    width: 90px;
}

/*copy of "https://scrollbar.app/"*/

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #af8959;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }